
<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">


<form action="/user/<%= user._id %>/edit?_method=put" method="POST">

     <h1>Edit profile</h1>
    <input type="text" class="form__input__text" placeholder="your Name" name="name">
    <input type="email" class="form__input__text" placeholder="your Email" name="email">
    <input type="text" class="form__input__text" placeholder="your Username" name="username">
    <input type="password" class="form__input__text"  placeholder="your Password" name="password">
    <input type="text"  class="form__input__text" placeholder="your img link" name="image">
    <input type="text"  class="form__input__text" placeholder="Bio" name="bio">



    <input type="submit" value="Edit" class="form__input__submit">
</form>
</div>
 