<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">
    <form action="/singUp" class="form" method="POST">
        <h2> Create Your account</h2>
    <input type="email" class="form__input__text" placeholder="your Email" name="email">
    <input type="text" class="form__input__text" placeholder="your Username" name="username">
    <input type="text" class="form__input__text" placeholder="your Name" name="name">
    <input type="password" class="form__input__text"  placeholder="your Password" name="password">
    <input type="text"  class="form__input__text" placeholder="your img link" name="image">
    <input type="text"  class="form__input__text" placeholder="Bio" name="bio">

    <!-- add the more input  -->
    
    
    <input type="submit" value="Sing Up" class="form__input__submit">
    </form>


    <p>u alredy have account ? </p> <br>
    <a href="/login"> log in</a>
    
</div>

