<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/company.css">
    <title>New company</title>
</head>
<body>
    <h1>New Company</h1>
    <form action="/companys/" method="POST">
      <label for="name">Company Name</label>
      <input type="text" name="name"/>

      <label for="logo">Company logo</label>
      <input type="text" name="logo"/>

      <label for="address">Company address</label>
      <input type="text" name="address"/>

      <label for="city">Company city</label>
      <input type="text" name="city"/>

      <label for="telephone">Company telephone</label>
      <input type="text" name="telephone"/>

      <input type="submit" value="Create company" />
    </form>
</body>
</html>