@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body
{
    font-family: 'Oswald', sans-serif;
    background-color: #EED6D3;
    border-top: 5px solid #67595E;
    border-bottom: 5px solid #67595E;
    padding: 25px;


}

.navigation{
    text-align: center;
    margin:20px 0;
    font-size: 22px;
}

h1 {
    text-align: center;
    /* font-family: 'Oswald', sans-serif; */
}

h3 {
    color: #67595E;
}

img, iframe {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#round-img {
    border-radius: 20px;

}

.email-me{
    text-decoration: none;
    border: 1px solid #A49393;
    padding: 5px 20px;
    background-color: #A49393;
    color: #EED6D3;
}