<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
    <h1>we use Layouts</h1>
    <a href="/smoothies"> smoothies</a>
    <a href="/fruits"> fruits</a>
    <%- body %>

    <footer style="position:fixed; bottom: 0;"><h2> create By SIE-ALHASA  </h2> </footer>
</body>
</html>